@import './bootstrap/customizations.scss';

html, body {
    height: 100%;
    min-height: 100%;
}
body {
    h1 {
        width: $section-width;
        background-color: $code-color;
    }

    h2 {
		color: $brand-info;
    }
}